* text=auto eol=lf
*.php text eol=lf
*.json text eol=lf
*.md text eol=lf
/.github export-ignore
/contract export-ignore
/scripts export-ignore
/tests export-ignore
/.php-cs-fixer.dist.php export-ignore
/.phpstan.cache export-ignore
/.phpunit.cache export-ignore
/phpstan.neon export-ignore
/phpunit.xml export-ignore
/composer.lock export-ignore
